.nav-container {
  background-color: whitesmoke;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

img{
    width: 80px;
    height: 60px;
}